input {
    display: block;
    margin-bottom: 5px;
    padding: 5px;
    width: 250px;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
    font-size: 0.9rem;
  }
  
  button {
    padding: 5px 10px;
  }
  