.card {
    border: 2px solid #333;
    padding: 1rem;
    border-radius: 10px;
    width: 280px;
    text-align: center;
    margin: 1rem auto;
    background: white;
    transition: 0.3s ease;
  }
  
  .on-sale {
    background-color: #5c2ea3;
    color: white;
    border-color: #3d1670;
  }
  
  .card img {
    width: 100%;
    border-radius: 5px;
  }
  .card a {
    color: inherit;
    text-decoration: none;
  }

  .card a:hover {
    text-decoration: underline;
  }
  
  .price {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .price-off {
    color: gray;
  }
  
  
  
  .controls {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
  }
  
  .controls button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
  }
  .not-available {
    font-weight: bold;
    color: red;
    margin-top: 10px;
  }
  
  